h1{
    color: #010101;
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 20px;
}

h3{
    color: #53575d;
    font-family: Poppins, sans-serif;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 20px;
}

.container {
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 50px;
    margin: 0 auto;
}

.card {
    background-color: #f4f4f4;
    width: 400px;
    height: 200px;
    margin: 60px; 
    text-align: center; 
    padding: 0px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.custom-card {
    min-height: 200px; 
  }
  


@media screen and (max-width: 600px) {
    .card {
        width: 100%; 
    }
}


.card_body{
    background-color: #f4f4f4;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    color: #010101;
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;}

.sub_title{
    color: #53575d;
    font-family: Poppins, sans-serif;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
}

.text{
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

