.loginStyle {
    /* background-color: rgb(214, 229, 243);  */    
    min-height: 88vh;   
}

.imgStyle {
    border-radius: 5px;
    border: 3px #ffffff solid;
    box-shadow: 5px 5px 10px grey;
    transition: 0,6s ease-in-out;
}

.imgStyle:hover {
    box-shadow: 10px 10px 15px rgb(71, 71, 71);
    transition: 0,6s ease-in-out;
    border: 4px chartreuse solid;
}

.loginRow {
  margin-top: -70vh;
}