.navbar {     
    background: linear-gradient(to right, rgb(3, 193, 25), blue);
}

.navbar i {
    margin-right: 6px;
}

.navbar i:hover {
    color: rgb(3, 193, 25);
}

.navbar:hover {
    box-shadow: 5px 5px 10px grey;
    transition: 0,6s ease-in-out;
}

.text-left {
    color: #fff;
}

.text-left:hover {
    color: blue;
    transition: 0,6s ease-in-out;
}







