.notFoundStyle {
    min-height: 88vh;
}

.buttonStyle {
    z-index: 2;
    position: relative;
}

.centerImage {
    background-image: url('./notfound.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    z-index: 1; 
    margin-top: -80px;
    position: relative;
    top: 0;
}